  /* style.css */
h1 
{
    font-family: fantasy;
    background-color: lightsteelblue
}
 
p
{
    font-size: 25px;
}

.center
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

img 
{
    border: 55px ridge lightslategrey;
}
